.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: inherit;
}

@media (max-width: 1023px) {
  .footer {
    margin-top: 200px;
  }
}